<p>experiences works!</p>
<div class="px-20 flex flex-wrap  ">




         
        
  <div class="py-40    ">
    <div class="grid grid-cols-5 gap-4 px-60">
    <div class=" mt-2 ">
      <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-1">
          <img src="assets/img/WhereSearch.png " class="text-rose-500">
          <p-dropdown [options]="options" [(ngModel)]="selectedCity"  placeholder=" When ? " optionLabel="name"> </p-dropdown>
    
      </div>
    </div>
    <div class=" mt-2 ">
      <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-1">
          <img src="assets/img/date.png " class="text-rose-500">
          <p-calendar   placeholder="When?"
              [showButtonBar]="true" inputId="buttonbar" formControlName="date"
              [readonlyInput]="true"></p-calendar>
      </div>
    </div>
    <div class=" mt-2 ">
      <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-1">
          <img src="assets/img/PeopleSearch.png " class="text-rose-500">
          <p-dropdown [options]="people" [(ngModel)]="selectedCity"  placeholder="  People? " optionLabel="name">  </p-dropdown>
    
      </div>
    </div>
    <div class=" mt-2 ">
          <img src="assets/img/rec.png " class="text-rose-500">
    
    </div>
    
    <div class=" mt-2   ">
      <img src="assets/img/srch.png " class="text-rose-500">
    
    </div>
  </div>
     
    
    
    
    
     
      
    
    
     
     
    
    
      <div class="grid grid-cols-5 gap-4 ">
      <div class=" mt-2 ">
        <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-1">
            <img src="assets/img/v.png " class="text-rose-500">
            <p-dropdown [options]="theme" [(ngModel)]="selectedCity"  placeholder=" theme ? " optionLabel="name"> </p-dropdown>
      
        </div>
      </div>
      <div class=" mt-2 ">
        <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-1">
          <img src="assets/img/v.png " class="text-rose-500">
            <p-dropdown [options]="subtheme" [(ngModel)]="selectedCity"  placeholder="  sub-theme? " optionLabel="name">  </p-dropdown>
      
        </div>
      </div>
      <div class=" mt-2 ">
        <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-1">
            <img src="assets/img/v.png " class="text-rose-500">
            <p-dropdown [options]="" [(ngModel)]="selectedCity"  placeholder="  season? " optionLabel="name">  </p-dropdown>
      
        </div>
      </div>
      <div class=" mt-2 ">
        <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-1">
            <img src="assets/img/v.png " class="text-rose-500">
            <p-dropdown [options]="options" [(ngModel)]="selectedCity"  placeholder="  price? " optionLabel="name">  </p-dropdown>
      
        </div>
      </div>
      <div class=" mt-2 ">
        <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-1">
            <img src="assets/img/v.png " class="text-rose-500">
            <p-dropdown [options]="City" [(ngModel)]="selectedCity"  placeholder="  City? " optionLabel="name">  </p-dropdown>
      
        </div>
      </div>
     
    </div>
      
    
          <div class="max-w-sm bg-white h-[436px] w-[436px]  rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-lg h-[436px] w-[436px]" src="/assets/img/a.png" alt="" />
           
            <div class="grid grid-cols-2 gap-4">
              <div class="p-5 text-rose-500"> 
                Rtiba Forest Hiking
                <div
                class="flex flex-row border-l border-rose-500  cursor-pointer text-black hover:bg-rose-50 
                 items-center w-full px-4 py-2 mt-2 text-xl font-bold text-left md:w-auto md:inline md:mt-0 md:ml-4 font-thin ">
                 Rtiba, Tunisia
              </div>
              <div class="p-5 text-black"> 
                 
               nature 
                <div
                class="flex flex-row  border-rose-500   text-black 
                 items-center w-full px-4 py-2 mt-2 text-xl font-bold text-center md:w-auto md:inline md:mt-0 md:ml-4 ">
             100dt
              </div>
          </div>
        </div>
       
        
      </div>



  
  
  
        <!-- ... -->
      


      

    